In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
#from fake_useragent import UserAgent

In [2]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

'''
['',
 'Airline Name',
 'Country',
 'Fleet',
 'Photos',
 '',
'''

"\n['',\n 'Airline Name',\n 'Country',\n 'Fleet',\n 'Photos',\n '',\n"

In [3]:
def listAlphabet():
  return [chr(i).upper() for i in range(ord('a'),ord('z')+1)]
print(listAlphabet())

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [5]:
#{'truth': 185.179993, 'day1': 197.22307753038834, 'day2': 197.26118010160317, 'day3': 197.19846975345905, 'day4': 197.1490578795196, 'day5': 197.37179265011116}

alphabet = listAlphabet()
alphabet.insert(0,9)
column_names = []
righe = []
row_names = []

def get_num_pages(url):
    data = requests.get( url,headers = headers)
    soup = BeautifulSoup(data.content, 'html.parser')
    lista_num_pagine = []
    page = soup.find("div", {"class": "pages"})
    if page == None:
        return '1'
    
    for a in page.find_all('a', href=True):
        lista_num_pagine.append(a.text)
    
    return lista_num_pagine[-1]
        

for lettera in alphabet:
    num_pagine = get_num_pages('https://www.planespotters.net/airlines/{}'.format(lettera))
    for pagina in range(1,int(num_pagine)+1):
        url = 'https://www.planespotters.net/airlines/{}/{}'.format(lettera,pagina)
        data = requests.get( url,headers = headers)
        soup = BeautifulSoup(data.content, 'html.parser')
        print('fetch indirizzo {} {}'.format(url,data))
        for table in soup.find_all("div", class_="datatable"):
            '''
            for nome_colonna in table.find_all("div", class_="dt-th"):
                column_names.append(nome_colonna.text)
                #print(column_names)
                pass
            '''
            for row in table.find_all("div", class_="dt-tr"):
                #si mette qua senno ci somma tutte le righe, e noi dobbiamo azzerarlo ad ogni riga
                #print('{}\n\n'.format(row))
                pass

                for colonna in row.find_all("div", class_="dt-td"):
                    row_names.append(colonna.text)

                righe.append(row_names)
                row_names = []

                #print('{}\n'.format(colonna.text))
            
           
                
            #print('fine riga')

        

    #print('{}\n{}'.format(url,data.content))

fetch indirizzo https://www.planespotters.net/airlines/9/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/A/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/A/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/A/3 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/A/4 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/A/5 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/A/6 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/A/7 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/A/8 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/A/9 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/A/10 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/A/11 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/A/12 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/A/13 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/B/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/B/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/B/3 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/C/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/C/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/C/3 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/C/4 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/D/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/D/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/E/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/E/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/E/3 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/F/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/F/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/F/3 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/G/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/G/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/H/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/H/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/I/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/I/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/J/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/J/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/K/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/K/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/L/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/L/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/L/3 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/M/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/M/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/M/3 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/N/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/N/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/O/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/P/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/P/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/P/3 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/Q/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/R/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/R/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/S/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/S/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/S/3 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/S/4 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/S/5 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/S/6 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/T/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/T/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/T/3 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/T/4 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/U/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/V/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/V/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/W/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/W/2 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/X/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/Y/1 <Response [200]>
fetch indirizzo https://www.planespotters.net/airlines/Z/1 <Response [200]>

In [154]:
#2274
count = 0
for r in righe:
    if len(r)==0:
        count = count +1
        
print('originali = {}\n altri{}'.format(len(righe),count + 5663))

originali = 5735
 altri5735

In [149]:
intestazione = ['','Airline Name','Country','Fleet','Photos']
df = pd.DataFrame(columns=intestazione)
for r in righe:
    if len(r)!=0:
        r = [el.replace('\n','') for el in  r]
        df.loc[len(df)] = r

df.head()

              Airline Name         Country Fleet Photos
0    10 Tanker Air Carrier   United States     4     37
1                    1Time    South Africa           44
2                   21 Air   United States     8     39
3          2Excel Aviation  United Kingdom     3     63
4     360 Aviation Austria         Austria

In [155]:
df.to_excel('laura.xlsx', index = False)